@import '../../../../assets/scss/main-styles.scss';

@mixin sidebar-theme($theme, $background-selector) {
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);

    .p-sidebar-right {
        background-color: $material-dark-high !important;
        z-index: 3 !important;

        .p-sidebar-content {
            height: 100%;
            
            .custom-sidebar-layout {
                height: 100%;
                justify-content: space-between;
                background-color: $material-dark-high !important;

                .menu {
                    height: 100%;

                    .close-button {
                        margin-bottom: 50px;
                    }

                    .mat-list-option {
                        font-family: 'Kaushan Script', cursive;
                        border-radius: 6px;
                        font-size: 25px;
                        height: 70px;
                    }
                }

                mat-divider {
                    margin-bottom: 1rem;
                }

                .tools {
                    justify-content: space-between;
                    align-items: center;
                    padding: 0.5rem;

                    .social-container {

                        .pointer {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}
