<p-sidebar [(visible)]="isOpen" position="right" [baseZIndex]="10000" [showCloseIcon]="false">

    <div class="custom-sidebar-layout flex-column mat-app-background" *transloco="let t">

        <div class="menu">

            <mat-selection-list #menuItems [multiple]="false">
                <mat-list-option *ngFor="let menuItem of allHeaderItems" [selected]="menuItem.active" (click)="onClickMenuItem(menuItem.id)">
                    {{ t('header.' + menuItem.id) }}
                </mat-list-option>
            </mat-selection-list>
            
        </div>

        <mat-divider></mat-divider>

        <div class="tools flex-row">

            <div class="language-container">

                <button mat-icon-button [matMenuTriggerFor]="languageMenu">
                    <mat-icon svgIcon="custom-flag-es" *ngIf="languageSelected === 'es'"></mat-icon>
                    <mat-icon svgIcon="custom-flag-en" *ngIf="languageSelected === 'en'"></mat-icon>
                </button>

                <mat-menu #languageMenu="matMenu" xPosition="before">

                    <button mat-menu-item (click)="changeLanguage('es')">
                        <mat-icon svgIcon="custom-flag-es"></mat-icon>
                        <span>ES</span>
                    </button>

                    <button mat-menu-item (click)="changeLanguage('en')">
                        <mat-icon svgIcon="custom-flag-en"></mat-icon>
                        <span>EN</span>
                    </button>
                    
                </mat-menu>

            </div>

        </div>
    </div>

</p-sidebar>