<ng-container *transloco="let t">

    <header class="header-layout">

        <div class="header-bar-container">

            <div class="left-container flex-row">
                <div class="logo-container">
                    <img src="../../../../assets/icons/others/main-logo.svg" alt="blue-brush-logo">
                </div>
            </div>
    
            <div class="middle-container flex-row">

                <div class="left-row flex-row">
                    <div class="menu-container">
                        <div class="header-item flex-row" [ngClass]="{ 'click' : header.active }" *ngFor="let header of headerConfiguration" (click)="onClickHeaderOption(header.id)">
                            <span class="header-item-text"> {{ t('header.' + header.id) }} </span>
                        </div>
                        <!-- <div class="header-item flex-row" (click)="navigateToProjectsPage()">
                            <span class="header-item-text"> {{ t('header.projects') }} </span>
                        </div> -->
                    </div>
                </div>

                <div class="right-row flex-row">
                    <div class="menu-container flex-row">
                        <button mat-icon-button [matMenuTriggerFor]="headerMenu">
                            <mat-icon> menu </mat-icon>
                        </button>
                        <mat-menu #headerMenu="matMenu" xPosition="before">        
                            <button mat-menu-item *ngFor="let header of headerConfiguration" (click)="onClickHeaderOption(header.id)">
                                <span class="header-item-text"> {{ t('header.' + header.id) }} </span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                
            </div>
    
            <div class="right-container flex-row">

                <!-- <div class="dark-mode-slider flex-row">
                    <mat-slide-toggle color="#E40066" [checked]="isDarkModeEnabled"> </mat-slide-toggle>
                </div> -->

                <div class="language-container">

                    <button mat-icon-button [matMenuTriggerFor]="languageMenu">
                        <mat-icon svgIcon="custom-flag-es" *ngIf="languageSelected === 'es'"></mat-icon>
                        <mat-icon svgIcon="custom-flag-en" *ngIf="languageSelected === 'en'"></mat-icon>
                    </button>
    
                    <mat-menu #languageMenu="matMenu" xPosition="before">
    
                        <button mat-menu-item (click)="changeLanguage('es')">
                            <mat-icon svgIcon="custom-flag-es"></mat-icon>
                            <span>ES</span>
                        </button>
    
                        <button mat-menu-item (click)="changeLanguage('en')">
                            <mat-icon svgIcon="custom-flag-en"></mat-icon>
                            <span>EN</span>
                        </button>
                        
                    </mat-menu>

                </div>


            </div>

        </div>

    </header>

</ng-container>