@import 'shared/colors.scss';
@import '~@angular/material/theming';
@import "../../app/shared/components/header/header.component";
@import "../../app/shared/components/sidebar/sidebar.component";
@import "../../app/main-page/components/main-page.component";
@import "../../app/main-page/components/projects/projects-page.component";

@include mat-core();

@mixin custom-components-theme($theme, $background-selector) {
    @include header-theme($theme, $background-selector);
    @include sidebar-theme($theme, $background-selector);
    // @include main-theme($theme);
    // @include projects-dialog-theme($theme);
}

$mat-custom-primary: (
    main: #345995,
    lighter: #c2cddf,
    darker: #213e78,
    200: #345995,
    contrast : (
        main: $light-primary-text,
        lighter: $dark-primary-text,
        darker: $light-primary-text,
    )
);

$mat-custom-accent: (
    main: #eac435,
    lighter: #f9edc2,
    darker: #e1af22,
    200: #eac435,
    contrast : (
        main: $dark-primary-text,
        lighter: $dark-primary-text,
        darker: $dark-primary-text,
    )
);

$mat-custom-warn: (
    main: #d50000,
    lighter: #f2b3b3,
    darker: #c40000,
    200: #d50000,
    contrast : (
        main: $light-primary-text,
        lighter: $dark-primary-text,
        darker: $light-primary-text,
    )
);

// Light theme
$light-primary: mat-palette($mat-custom-primary, main, lighter, darker);
$light-accent: mat-palette($mat-custom-accent, main, lighter, darker);
$light-theme: mat-light-theme((
    color: (
        primary: $light-primary,
        accent: $light-accent,
    ),
    background: (white)
));

.light-theme {
    @include angular-material-theme($light-theme);
    @include custom-components-theme($light-theme, $material-light);
}

// Dark theme
$dark-primary: mat-palette($mat-custom-primary, main, lighter, darker);
$dark-accent: mat-palette($mat-custom-accent, main, lighter, darker);
$dark-theme: mat-dark-theme((
    color: (
        primary: $dark-primary,
        accent: $dark-accent
    ),
    background: (black)
));

.dark-theme {
    @include angular-material-color($dark-theme);
    @include custom-components-theme($dark-theme, $material-dark);
}


