@import 'shared/animations.scss';
@import 'shared/text.scss';

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
