@import 'shared/animations.scss';
@import 'shared/text.scss';
@import 'shared/colors.scss';
@import 'shared/custom-cards.scss';

.p-sidebar-mask {
    z-index: 0 !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.pointer {
    cursor: pointer;
}


