@import 'shared/animations.scss';
@import 'shared/text.scss';
@import 'shared/colors.scss';
@import 'shared/custom-cards.scss';
@import 'shared/menu.scss';

.carousel-cell img {
    width: calc(100% - 50px) !important;
    height: calc(100% - 50px) !important;
}

.p-sidebar-mask {
    z-index: 0 !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.pointer {
    cursor: pointer;
}

.p-overlaypanel {

    &:after, &:before {
        content: none !important;
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
