@import '../../../../../assets/scss/main-styles.scss';

:host ::ng-deep .p-dialog {
    max-width: calc(100vw - 120px);
    max-height: calc(100vh - 120px);

    img {
        max-width: calc(100vw - 120px);
        max-height: calc(100vh - 120px);
    }

    .p-dialog-header {
        justify-content: flex-end;
        // background-color: $material-dark;
    }
    
    .p-dialog-content {
        justify-content: flex-end;
        overflow: hidden;
        padding: 0;
        // background-color: $material-dark;
    }

    @media only screen and (max-width: 800px) {
        max-width: calc(100vw - 50px);
        max-height: calc(100vh - 50px);

        img {
            max-width: calc(100vw - 50px);
            max-height: calc(100vh - 50px);
        }
    }
}
