@import '../../../../assets/scss/main-styles.scss';

$card-width:  200px;
$card-height: 300px;

.presentation-card-layout {
    width: $card-width;
    height: $card-height;
    margin: 1rem;

    .presentation-card-container {
        width: $card-width;
        height: $card-height;
        position: absolute;
        overflow: hidden;
        border-radius: 4px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        user-select: none;
    
        .color-overlay {
            background: rgba(84,104,110,0.4);
            width: $card-width;
            height: $card-height;
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            transition: background .3s cubic-bezier(.33,.66,.66,1);
        }
    
        .gradient-overlay {
            background-image: -webkit-linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 35%);
            background-image: -moz-linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 35%);
            background-image: -o-linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 35%);
            background-image: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 35%);
            width: $card-width;
            height: $card-height;
            position: absolute;
            top: 0px;
            left: 0;
            z-index: 15;
            transition: all 0.2s ease-in-out;
        }
    
        .title-content {
            text-align: center;
            position: absolute;
            margin-top: 0.5rem;
            z-index: 20;
            width: 100%;
            top: 0;
            left: 0;
    
            h3 {
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 2px;
                color: $white;
                margin-bottom: 0;
            }
    
            hr {
                width: 5px;
                height: 5px;
                margin: 10px auto;
                border: 0;
                border-radius: 10px;
                background: $accent-color;
                transition: all 0.2s ease-in-out;
            }
        }
    
        .card-info {
            width: 100%;
            height: 150px;
            position: absolute;
            bottom: 0px;
            left: 0;
            margin: 0 auto;
            padding: 0 1rem;
            color: $white;
            font-size: 18px;
            line-height: 20px;
            z-index: 20;
            opacity: 0;
            transition: bottom .3s, opacity .3s cubic-bezier(.33,.66,.66,1);

            fa-icon {
                font-size: 40px;
                margin-bottom: 1rem;
                color: $accent-color;
            }
        }

        &:hover {
    
            .card-info {
                opacity: 1;
                bottom: 50px;
            }
    
            .color-overlay {
                background-color: $primary-color;
            }

            .gradient-overlay {
                top: -75px;
            }

            .title-content {

                hr {
                    width: 75px;
                }
            }
        }
    }
}
