@import '../../../../../../assets/scss/main-styles.scss';

.chips-layout {
    width: 100%;

    .chips-list-container {
        flex-wrap: wrap;
        background-color: $material-dark;
        justify-content: center;
        border-radius: 4px;
        min-height: 76px;
        padding: 1rem;
        width: 100%;

        .chip-item {
            padding: 5px;
            height: 36px;
            border-radius: 16px;
            font-size: 16px;
            background-color: #dee2e6;
            color: $material-dark;
            padding: 0.25rem 0.5rem;
            align-items: center;
            margin: 0.25rem;

            .label {
                white-space: nowrap;
            }

            i {
                margin-left: 5px;
            }
        }
    }
}