.custom-card-container {
    margin: 25px 0px;
    justify-content: center;
    flex-wrap: wrap !important;

    .custom-card {
        background-color: transparent;
        width: 300px;
        height: 200px;
        perspective: 1000px;
        margin: 20px;

        .custom-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .custom-card-front, .custom-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 2rem;
            justify-content: center;
            align-items: center;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            cursor: default;
        }
            
        .custom-card-front {
            background-color: $primary-color;
            color: $white;

            fa-icon {
                font-size: 50px;
            }
        }
            
        .custom-card-back {
            background-color: $material-light;
            color: $black;
            transform: rotateX(180deg);
        }
    }
        
    .custom-card:hover .custom-card-inner {
        transform: rotateX(180deg);
    }
}

.paint-custom-card {
    width: 300px;
    margin: 2rem;
    padding: 3rem 1rem 2rem 1rem;
    background-color: $primary-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;

    .icon-container {
        position: absolute;
        left: calc(50% - 45px);
        top: -45px;
        padding: 10px;
        border-radius: 100%;
        line-height: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 5px solid $white;

        mat-icon {
            height: auto;
            width: auto;
            font-size: 30px;
            // font-weight: bold;
            background-color: $white;
            color: $primary-color;
            border-radius: 100%;
            padding: 10px;
        }
    }
    
    .text-container {
        text-align: center;

        span.title {
            font-family: 'Kaushan Script', cursive;
            font-size: 25px;
        }
    }
}