:host ::ng-deep ::-webkit-scrollbar-track {
    border: none !important;
    background-color: transparent !important;
}

:host ::ng-deep ::-webkit-scrollbar {
    width: 8px !important;
}

:host ::ng-deep ::-webkit-scrollbar-thumb {
    border-radius: 11px !important;
    background-color: #dadce0 !important;
    border: none !important;
}
