
h1 {
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    margin-top: 0px;
}

h2 {
    // font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
}