$title: 'Kaushan Script', cursive;
$text: 'Oswald', sans-serif;

h1 {
    font-weight: bold;
    font-family: $title;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    // font-weight: bold;
    font-family: $text;
    font-size: 20px;
    margin-bottom: 0px;
}

