// Primary Colors
$white: #FFFFFF;
$black: #000000;
$grey: #CBCBCB;
$dark-grey: #888888;
$transparent: #FFFFFF00;
$background-transparent: #FFFFFFB8;
$background-light-mode: #FAFAFA;

// Text Colors
$text-black: #1D1D1F;
$text-white: #F5F5F7;
$text-grey: #A1A1A6;

// App Color Palette
$yellow: #EAC435;
$blue: #345995;
$pink: #E40066;
$green: #03CEA4;
$orange: #FB4D3D;