<div class="custom-gallery-layout flex-row">

    <div class="custom-gallery-container flex-row">

        <div class="header flex-row">

            <button mat-fab color="accent" aria-label="Menu" (click)="filtersMenu.toggle($event)">
                <mat-icon> menu </mat-icon>
            </button>
            <!-- <p-tieredMenu #filtersMenu appendTo="body" [model]="menuItems" [popup]="true"></p-tieredMenu> -->
            <p-slideMenu #filtersMenu appendTo="body" [model]="menuItems" [popup]="true" [viewportHeight]="300"></p-slideMenu>

        </div>

        <div class="gallery flex-row">

            <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '840px'}" [numVisible]="5">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" style="width: 100%;" [alt]="item.alt" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="p-grid p-nogutter p-justify-center">
                        <img class="thumbnail" [src]="item.thumbnailImageSrc" />
                    </div>
                </ng-template>
            </p-galleria>

        </div>

    </div>

</div>