.layout-wrapper {
    height: 100%;

    .layout-container {
        overflow: hidden;
    }
}

:host ::ng-deep {

    .p-scrolltop {
        z-index: 2 !important;
        box-shadow: none !important;
    }
}
