@import '../../../assets/scss/main-styles.scss';

.projects-page-layout {
    display: block;
    height: 100%;
    padding-top: 80px;

    .filter-container {

        mat-card {
            width: 100%;
        }
    }

    .gallery-container {
        margin-top: 1rem;
        flex-wrap: wrap;

        .mat-card {

            .gallery {
                flex-wrap: wrap;

                .image-item {
                    width: 100px;
                    height: 100px;
                    margin: 0.5rem;
                    cursor: pointer;
                    border-radius: 10px;
                    
                    img {
                        border-radius: 10px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

img {
    object-fit: contain !important;
}

  