<ng-container *transloco="let t">

    <div class="projects-page-layout flex-column">

        <div class="filter-container flex-row">

            <mat-card>
                <!-- TODO: Implementar filtro -->
                FILTRO
            </mat-card>

        </div>

        <div class="gallery-container flex-row">

            <mat-card>
                <div class="gallery flex-row">
                    <div class="image-item zoom" *ngFor="let imageItem of imageItems">
                        <img [src]="imageItem.image" [alt]="imageItem.image" (click)="showGallery(imageItem.id, imageItem.image)">
                    </div>
                </div>
            </mat-card>

        </div>

    </div>
    
</ng-container>