<div class="print-services-layout flex-column" *transloco="let t">

    <div data-aos="fade-left">
        
        <div class="title-container">
            <h2 class="subtitle"> {{ t('mainPage.services.printServices.subtitle').toUpperCase() }} </h2>
            <h1 class="title">
                <span class="first-part"> {{ t('mainPage.services.printServices.titleFirstPart') }} </span>
                <span class="second-part"> {{ t('mainPage.services.printServices.titleSecondPart') }} </span>
            </h1>
        </div>
        
        <div class="content-container flex-row">

            <div class="description-container flex-column">

                <p> <span> {{ t('mainPage.services.printServices.content.firstParagraph') }} </span> </p>

                <p> <span> {{ t('mainPage.services.printServices.content.secondParagraph') }} </span> </p>
                
                <div class="custom-card-container flex-row">

                    <div class="custom-card">
                        <div class="custom-card-inner">
                            <div class="custom-card-front flex-column">
                                <fa-icon [icon]="faLayerGroup"> </fa-icon>
                                <h1> Impresión 3D </h1>
                            </div>
                            <div class="custom-card-back flex-column">
                                <span> Diferentes calidades de impresión: media, alta o premium. </span>
                            </div>
                        </div>
                    </div>

                    <div class="custom-card">
                        <div class="custom-card-inner">
                            <div class="custom-card-front flex-column">
                                <fa-icon [icon]="faCube"> </fa-icon>
                                <h1> Diseños </h1>
                            </div>
                            <div class="custom-card-back flex-column">
                                <span> Tenemos una base de datos con diferentes diseños disponibles. ¡Aunque también aceptamos los tuyos! </span>
                            </div>
                        </div>
                    </div>

                    <div class="custom-card">
                        <div class="custom-card-inner">
                            <div class="custom-card-front flex-column">
                                <fa-icon [icon]="faUserEdit"> </fa-icon>
                                <h1> Hazlo tuyo! </h1>
                            </div>
                            <div class="custom-card-back flex-column">
                                <span> Tú lo eliges todo (medidas, cantidad, etc.) </span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="img-container flex-row">
                <img src="https://cdn03.plentymarkets.com/ioseuwg7moqp/item/images/24320/full/Raise3D-E2-Educational-E2-24320.png">
            </div>

        </div>

    </div>

</div>
