<div class="print-services-layout flex-column" *transloco="let t">

    <div data-aos="fade-left">
        
        <div class="title-container">
            <h2 class="subtitle"> {{ t('mainPage.services.printServices.subtitle').toUpperCase() }} </h2>
            <h1 class="title">
                <span class="first-part"> {{ t('mainPage.services.printServices.titleFirstPart') }} </span>
                <span class="second-part"> {{ t('mainPage.services.printServices.titleSecondPart') }} </span>
            </h1>
        </div>
        
        <div class="content-container flex-row">

            <div class="description-container flex-column">

                <p> <span> {{ t('mainPage.services.printServices.content.firstParagraph') }} </span> </p>

                <p> <span> {{ t('mainPage.services.printServices.content.secondParagraph') }} </span> </p>
                
                <div class="custom-card-container flex-row">

                    <div class="card">
                        <div class="icon-container">
                            <mat-icon> 3d_rotation </mat-icon>
                        </div>
                        <div class="text-container flex-column">
                            <span class="title"> Diferentes calidades de impresión </span>
                            <span> media, alta o premium. </span>
                        </div>
                    </div>
    
                    <div class="card">
                        <div class="icon-container">
                            <mat-icon> view_in_ar </mat-icon>
                        </div>
                        <div class="text-container flex-column">
                            <span class="title"> Envíanos tus propios diseños </span>
                            <span> O consúltanos. Quizás lo tengamos. </span>
                        </div>
                    </div>
    
                    <div class="card">
                        <div class="icon-container">
                            <mat-icon> person </mat-icon>
                        </div>
                        <div class="text-container flex-column">
                            <span class="title"> ¡Tú lo eliges todo! </span>
                            <span> Medidas, cantidad, etc. </span>
                        </div>
                    </div>

                </div>

            </div>

            <div class="img-container flex-row">
                <img src="https://cdn03.plentymarkets.com/ioseuwg7moqp/item/images/24320/full/Raise3D-E2-Educational-E2-24320.png">
            </div>

        </div>

    </div>

</div>
