@import '../../../../../../assets/scss/main-styles.scss';

.print-services-layout {
    padding: 80px 2rem 50px 2rem;
    text-align: center;
    font-family: $text;
    position: relative;

    .brush-image-container {
        top: -110px !important;
    }

    .title-container {
        position: relative;
        z-index: 1;

        .title {

            .second-part {
                color: $accent-color;
            }
        }
    }

    .content-container {
        margin-top: 20px;

        .description-container {
            flex-grow: 1;
            width: 100%;
        }

        .img-container {
            justify-content: center;
            flex-grow: 1;
            width: 100%;
            padding: 0rem 5rem;

            img {
                width: 100%;
                max-width: 700px;
            }
        }
    }

    @media only screen and (max-width: 1625px) {

        .content-container {
            flex-wrap: wrap;

            .img-container {
                padding: 0rem 1rem;
            }
        }
    }
}
