@import '../../../../../assets/scss/main-styles.scss';

:host ::ng-deep .extended-gallery-layout {

    .extended-gallery-container {
        width: 100%;
        height: 800px;
        background-color: $white;
        justify-content: space-between;
        padding: 1rem;

        .filter-container {
            justify-content: center;
            flex-wrap: wrap;
            border-radius: 4px;
            padding: 1rem;
            text-align: left;

            .collection-item-container {

                .filter-item {
                    color: $white;
                    padding: 0.5rem;
                    background-color: $material-dark;
                    margin: 0.5rem;
                    border-radius: 4px;
                    cursor: pointer;
                }

                .overlay-panel-container {
                    position: relative;

                    .p-overlaypanel {
                        width: 450px;
                        max-height: 600px;
                        overflow-x: hidden;
                        overflow-y: auto;
                        top: 0 !important;
                        left: 0 !important;
    
                        .faction-item {

                            &.filter-item {
                                padding: 0;
                            }

                            .faction-item-title {
                                width: 100%;
                                height: 100%;
                                padding: 0.5rem;
                            }
                        
                            .filter-item-container {
                                padding: 0.1rem;
                        
                                .filter-item {
                                    background-color: $white;
                                    color: $black;
                                    transition: all 0.3s;
                        
                                    &.selected {
                                        background-color: $accent-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .gallery-container {
            overflow-y: auto;
            overflow-x: hidden;
            

            .column-container {
                margin: 1rem 0;
                padding: 1rem;
                column-count: 4;

                .image-item {
                    margin-bottom: 15px;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .chip-container {
            
            app-chip {
                width: 100%;
            }
        }
    }
}

.zoom:hover {
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03); 
}
