<div class="extended-gallery-layout" *transloco="let t">

    <div class="extended-gallery-container flex-column">

        <div class="filter-container flex-row">

            <div class="collection-item-container flex-column" *ngFor="let collectionItem of collections">

                <div class="collection-item filter-item pointer unselectable" (click)="filterOverlayPanel.toggle($event)">
                    {{ collectionItem.name }}
                </div>

                <div class="overlay-panel-container">
                    <p-overlayPanel #filterOverlayPanel>
                        <ng-template pTemplate>
                            <div class="overflow-container">
                                <div class="faction-item filter-item" *ngFor="let factionItem of collectionItem.factionItems">
                                    <div class="faction-item-title unselectable" (click)="factionItem.expanded = !factionItem.expanded">
                                        <span> {{ factionItem.name }} </span>
                                    </div>
                                    <div class="filter-item-container" *ngIf="factionItem.expanded">
                                        <div class="filter-item zoom unselectable" [ngClass]="{'selected': filterItem.selected}" *ngFor="let filterItem of factionItem.filterItems" (click)="onClickFilterItem(filterItem)">
                                            {{ filterItem.name }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-overlayPanel>
                </div>

            </div>
        </div>

        <div class="background-container">

            <div class="gallery-container">
    
                <div class="column-container">
                    <img class="image-item pointer zoom custom-shadow-hover" *ngFor="let imageItem of images"
                        [src]="imageItem.thumbnail" (click)="showGallery(imageItem.fullSize)" [alt]="'name'">
                </div>
    
            </div>

        </div>

        <div class="chip-container flex-row">
            <app-chip [chips]="chips" (hideChipEmitter)="onClickHideChip($event)" #chipsListContainer></app-chip>
        </div>

    </div>

    

</div>
