<div class="extended-gallery-layout" *transloco="let t">

    <div class="extended-gallery-container flex-column">

        <div class="filter-container flex-row">
            <div class="filter-item pointer" *ngFor="let filter of filters.mainFilterItem" (click)="filterOverlayPanel.toggle($event)">
                {{ filter.title }}
                <p-overlayPanel #filterOverlayPanel appendTo="body" [style]="{width: '450px'}">
                    <ng-template pTemplate>
                        <div class="filter-item" *ngFor="let subFilterItem of filter.subFilterItems" (click)="onClickFilterItem(subFilterItem)">
                            {{ subFilterItem.label }}
                        </div>
                    </ng-template>
                </p-overlayPanel>
            </div>
        </div>

        <div class="gallery-container">

        </div>

        <div class="chip-container flex-row">
            <app-chip [chips]="chips" (hideChipEmitter)="onClickHideChip($event)" #chipsListContainer></app-chip>
        </div>

    </div>

    

</div>
