@import '../../../../../assets/scss/main-styles.scss';
@import '../../../../../assets/scss/shared/scrollbar.scss';

:host ::ng-deep .extended-gallery-layout {

    .extended-gallery-container {
        width: 100%;
        height: 800px;
        justify-content: space-between;
        padding: 1rem;

        .filter-container {
            border-radius: 4px 4px 0 0;
            padding: 5px 10px;
            text-align: left;
            background-color: $material-dark;


            .collection-item-container {
                width: 100%;
                padding: 10px;

                .filter-item {
                    color: $white;
                    padding: 0.5rem;
                    background-color: $material-dark;
                    margin: 0.5rem;
                    border-radius: 4px;
                    cursor: pointer;
                }

                .main-item {
                    align-items: center;
                    justify-content: space-between;
                    background-color: $white;
                    color: $text-black;
                    margin: 0;
                    width: 100%;
                    position: relative;

                    .image-container {
                        justify-content: center;
                        position: absolute;
                        transition: all 0.2s ease-in-out;

                        img {
                            transition: inherit;
                            width: 35px;
                            border-radius: 50px;
                            background-color: $accent-color;
                            vertical-align: middle;
                            box-shadow: 0 2px 10px 1px rgb(0 0 0 / 50%);
                        }
                    }

                    &:hover {
                        .image-container {
                            margin-left: -20px;
    
                            img {
                                width: 50px;
                            }
                        }
                    }

                    .title-container {
                        margin: 0 5px 0 40px;
                        display: inline-grid;

                        span {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }

                .overlay-panel-container {
                    position: relative;


                    .p-overlaypanel {
                        width: 100%;
                        // max-height: 600px;
                        overflow-x: hidden;
                        overflow-y: auto;
                        top: 0 !important;
                        left: 0 !important;
                        overflow: hidden;

                        .p-overlaypanel-content {
                            padding: 0.5rem;

                            .overflow-container {
                                overflow-y: auto;
                                overflow-x: hidden;
                                max-height: 600px;

                                .faction-item {
        
                                    &.filter-item {
                                        padding: 0;
                                    }
        
                                    .faction-item-title {
                                        width: 100%;
                                        height: 100%;
                                        padding: 0.5rem;
                                        justify-content: space-between;
                                        position: relative;

                                        .image-container {
                                            position: absolute;
                                            height: 100%;
                                            width: 100px;
                                            border-radius: 20px 4px 4px 20px;
                                            top: 0;
                                            right: 0;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center;
                                        }
                                    }
                                
                                    .filter-item-container {
                                        padding: 0.1rem;
                                
                                        .filter-item {
                                            background-color: $white;
                                            color: $black;
                                            transition: all 0.3s;
                                
                                            &.selected {
                                                background-color: $accent-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .background-container {
            background-color: $material-dark;
            border-radius: 0 0 4px 4px;
            padding: 1rem;
            height: 100%;
            overflow: hidden;

            .gallery-container {
                height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
                padding-right: 5px;
    
                .column-container {
                    padding: 1rem;
                    column-count: 4;
                    background-color: $white;
    
                    .image-item {
                        margin-bottom: 15px;
                        width: 100%;
                    }
                }
            }
        }

        .chip-container {
            
            app-chip {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 800px) {

    .filter-container {
        flex-wrap: wrap;
    }
    
    .column-container {
        column-count: 1 !important;
    }
}

@media only screen and (max-width: 1000px) {
    .column-container {
        column-count: 2 !important;
    }
}

:host ::ng-deep .zoom:hover {
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02); 
}
  