<div class="gallery-layout flex-column" *transloco="let t">
    
    <div>
        <h2 data-aos="fade-up" class="subtitle"> {{ t('mainPage.gallery.subtitle').toUpperCase() }} </h2>
        <h1 data-aos="fade-up" data-aos-delay="400" class="title">
            <span class="first-part"> {{ t('mainPage.gallery.titleFirstPart') }} </span>
            <span class="second-part"> {{ t('mainPage.gallery.titleSecondPart') }} </span>
        </h1>

        <div data-aos="fade-up" data-aos-delay="800" class="main-gallery-block flex-column" *ngIf="isMainGalleryVisible">

            <div class="first-row flex-row">
                <div class="img-container pointer custom-shadow zoom" *ngFor="let image of imagesFirstRow"
                    [ngStyle]="{'background-image': 'url(' + image.fullSize + ')'}"  (click)="showGallery(image.fullSize)">
                </div>
            </div>
            
            <div class="second-row flex-row">
                <div class="img-container pointer custom-shadow zoom" *ngFor="let image of imagesSecondRow"
                    [ngStyle]="{'background-image': 'url(' + image.fullSize + ')'}" (click)="showGallery(image.fullSize)">
                </div>
            </div>

        </div>

        <div class="extended-gallery-block" *ngIf="!isMainGalleryVisible">
            <app-extended-gallery></app-extended-gallery>
        </div>

        <button mat-raised-button color="accent" class="zoom" (click)="swapGallery()"> {{ nextGalleryTitle }} </button>

    </div>

</div>