@import '../../../../assets/scss/main-styles.scss';

.contact-layout {
    padding: 80px 2rem 50px 2rem;
    text-align: center;
    font-family: $text;
    background-color: $primary-color;
    position: relative;
    z-index: 1;

    .brush-image-container {
        top: -20px !important;
    }

    .title {

        .second-part {
            color: $accent-color;
        }
    }

    .icon-container {
        justify-content: center;

        a {
            color: $white !important;
            
            fa-icon {
                margin: 1rem;
                font-size: 50px;
            }
        }

    }

    .second-paragraph {
        font-family: $title;
        font-size: 25px;
    }
}