@import '../../../../assets/scss/main-styles.scss';

.contact-layout {
    padding: 80px 2rem 50px 2rem;
    text-align: center;
    font-family: $text;

    .icon-container {
        justify-content: center;

        fa-icon {
            margin: 1rem;
            font-size: 50px;
        }
    }

    .second-paragraph {
        font-family: $title;
        font-size: 25px;
    }
}