<div class="contact-layout flex-column" *transloco="let t">
    <div>
        <h2 data-aos="fade-up" class="subtitle"> {{ t('mainPage.contact.subtitle').toUpperCase() }} </h2>
        <h1 data-aos="fade-up" data-aos-delay="400" class="title">
            <span class="first-part"> {{ t('mainPage.contact.titleFirstPart') }} </span>
            <span class="second-part"> {{ t('mainPage.contact.titleSecondPart') }} </span>
        </h1>

        <div data-aos="fade-up" data-aos-delay="800">

            <p> {{ t('mainPage.contact.content.firstParagraph') }} </p>
    
            <div class="icon-container flex-row">
    
                <a href="mailto:maginkstudioart@gmail.com" class="zoom pointer" target="_blank"> <fa-icon data-aos="zoom-in" data-aos-delay="1000" [icon]="faEnvelope"></fa-icon> </a>
                <a href="https://wa.me/34634189541" class="zoom pointer" target="_blank"> <fa-icon data-aos="zoom-in" data-aos-delay="1000" [icon]="faWhatsapp"></fa-icon> </a>
                <a href="https://telegram.me/tarmanau" class="zoom pointer" target="_blank"> <fa-icon data-aos="zoom-in" data-aos-delay="1000" [icon]="faTelegram"></fa-icon> </a>
                
            </div>
            
            <p class="second-paragraph"> {{ t('mainPage.contact.content.secondParagraph') }} </p>
        
        </div>

    </div>
</div>