<div class="paint-services-layout flex-column" *transloco="let t">

    <div data-aos="fade-left">
        
        <div class="title-container">
            <h2 class="subtitle"> {{ t('mainPage.services.paintServices.subtitle').toUpperCase() }} </h2>
            <h1 class="title">
                <span class="first-part"> {{ t('mainPage.services.paintServices.titleFirstPart') }} </span>
                <span class="second-part"> {{ t('mainPage.services.paintServices.titleSecondPart') }} </span>
            </h1>
        </div>
        
        <div class="content-container flex-row">

            <div class="img-container flex-row">
                <img src="https://cdn03.plentymarkets.com/ioseuwg7moqp/item/images/24320/full/Raise3D-E2-Educational-E2-24320.png">
            </div>

            <div class="description-container flex-column">

                <p> <span> {{ t('mainPage.services.printServices.content.firstParagraph') }} </span> </p>

                <p> <span> {{ t('mainPage.services.printServices.content.secondParagraph') }} </span> </p>

                <div class="custom-card-container flex-row">

                    <div class="custom-card">
                        <div class="custom-card-inner">
                            <div class="custom-card-front flex-column">
                                <fa-icon [icon]="faTools"> </fa-icon>
                                <h1> Montaje </h1>
                            </div>
                            <div class="custom-card-back flex-column">
                                <span> ¿Tienes problemas montando tus minis? Déjanoslo a nosotros. </span>
                            </div>
                        </div>
                    </div>

                    <div class="custom-card">
                        <div class="custom-card-inner">
                            <div class="custom-card-front flex-column">
                                <fa-icon [icon]="faMagnet"> </fa-icon>
                                <h1> Imantación </h1>
                            </div>
                            <div class="custom-card-back flex-column">
                                <span> Imantamos peanas y diferentes partes de las figuras. </span>
                            </div>
                        </div>
                    </div>

                    <div class="custom-card">
                        <div class="custom-card-inner">
                            <div class="custom-card-front flex-column">
                                <fa-icon [icon]="faMountain"> </fa-icon>
                                <h1> Decoración </h1>
                            </div>
                            <div class="custom-card-back flex-column">
                                <span> Le damos un toque especial a tu peana. </span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
