@import '../../../../../../assets/scss/main-styles.scss';

.paint-services-layout {
    padding: 80px 2rem 50px 2rem;
    background-color: $primary-color;

    .title-container {

        .title {

            .second-part {
                color: $accent-color;
            }
        }
    }

    .content-container {
        margin-top: 20px;

    }
}
