<div class="paint-services-layout flex-column" *transloco="let t">

    <div data-aos="fade-left">
        
        <div class="title-container">
            <h2 class="subtitle"> {{ t('mainPage.services.paintServices.subtitle').toUpperCase() }} </h2>
            <h1 class="title">
                <span class="first-part"> {{ t('mainPage.services.paintServices.titleFirstPart') }} </span>
                <span class="second-part"> {{ t('mainPage.services.paintServices.titleSecondPart') }} </span>
            </h1>
        </div>
        
        <div class="content-container flex-column">


        </div>

    </div>

</div>
