@import '../../../../../../assets/scss/main-styles.scss';

.paint-services-layout {
    padding: 80px 2rem 50px 2rem;
    background-color: $primary-color;

    .title-container {

        .title {

            .second-part {
                color: $accent-color;
            }
        }
    }

    .content-container {
        margin-top: 20px;
        // flex-wrap: wrap;

        .description-container {
            flex-grow: 1;
            width: 100%;
        }

        .custom-card-front {
            background-color: $accent-color;
        }

        .custom-card-back {
            background-color: $material-dark;
            color: $white;
        }

        .img-container {
            justify-content: center;
            flex-grow: 1;
            width: 100%;
            padding: 0rem 5rem;

            img {
                width: 100%;
                max-width: 700px;
            }
        }
    }

    .paint-custom-card-container {
        justify-content: center;

        .paint-custom-card {
            width: 100%;
            max-width: 1600px;
            margin: 5rem 2rem 2rem 2rem;
            background-color: $accent-color;

            .icon-container {
        
                mat-icon {
                    color: $accent-color;
                }
            }

            .medals-container {
                margin: 80px 0;

                .medal-container {
                    width: 100%;
                    margin: 30px;
                    border-radius: 6px;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    padding: 100px;
    
                    .medal {
                        position: absolute;
                        bottom: -110px;
                        z-index: 1;
    
                        img {
                            width: 200px;
                        }
                    }
    
                    .crown {
                        position: absolute;
    
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1625px) {

        .content-container {
            flex-wrap: wrap-reverse;

            .img-container {
                padding: 0rem 1rem;
            }
        }
    }
}
