<div class="paint-services-layout flex-column" *transloco="let t">

    <div>
        
        <div class="title-container">
            <h2 data-aos="fade-up" class="subtitle"> {{ t('mainPage.services.paintServices.subtitle').toUpperCase() }} </h2>
            <h1 data-aos="fade-up" data-aos-delay="400" class="title">
                <span class="first-part"> {{ t('mainPage.services.paintServices.titleFirstPart') }} </span>
                <span class="second-part"> {{ t('mainPage.services.paintServices.titleSecondPart') }} </span>
            </h1>
            <div class="brush-image-container">
                <img src="../../../../assets/images/brushes/brush-3.svg" data-aos="zoom-in-left" data-aos-delay="1500" data-aos-duration="300">
            </div>
        </div>
        
        <div class="content-container flex-row" data-aos="fade-up" data-aos-delay="800">

            <div class="img-container flex-row">
                <img src="https://cdn03.plentymarkets.com/ioseuwg7moqp/item/images/24320/full/Raise3D-E2-Educational-E2-24320.png">
            </div>

            <div class="description-container flex-column">

                <p> <span> {{ t('mainPage.services.printServices.content.firstParagraph') }} </span> </p>

                <p> <span> {{ t('mainPage.services.printServices.content.secondParagraph') }} </span> </p>

                <div class="custom-card-container flex-row">

                    <app-card [image]="imageItem" *ngFor="let imageItem of images" ></app-card>

                </div>

            </div>

        </div>

    </div>

</div>
