<div class="services-layout flex-column" *transloco="let t">

    <div>
        
        <div class="title-container">
            <h2 data-aos="fade-up" class="subtitle"> {{ t('mainPage.services.subtitle').toUpperCase() }} </h2>
            <h1 data-aos="fade-up" data-aos-delay="300" class="title">
                <span class="first-part"> {{ t('mainPage.services.titleFirstPart') }} </span>
                <span class="second-part"> {{ t('mainPage.services.titleSecondPart') }} </span>
            </h1>
        </div>
        
    </div>

</div>
