<div class="footer-layout" *transloco="let t">
    
    <div class="footer-container flex-column">

        <div class="main-row flex-row">

            <div class="footer-about flex-column">

                <p class="title"> {{ t('footer.about').toUpperCase() }} </p>

                <span> {{ t('mainPage.about.content.firstParagraph') }} </span>
                <br>
                <span> {{ t('mainPage.about.content.firstParagraph') }} </span>

            </div>

            <mat-divider vertical="true"></mat-divider>

            <div class="footer-last-projects flex-column">

                <p class="title"> {{ t('footer.lastProjects').toUpperCase() }} </p>

                <div class="img-row first-row flex-row">
                    <div class="img-container pointer custom-shadow zoom" *ngFor="let image of imagesFirstRow"
                        [ngStyle]="{'background-image': 'url(' + image.thumbnail + ')'}" (click)="showGallery(image.fullSize)">
                    </div>
                </div>

                <div class="img-row second-row flex-row">
                    <div class="img-container pointer custom-shadow zoom" *ngFor="let image of imagesSecondRow"
                        [ngStyle]="{'background-image': 'url(' + image.thumbnail + ')'}" (click)="showGallery(image.fullSize)">
                    </div>
                </div>

            </div>

            <mat-divider vertical="true" class="hidden-divider"></mat-divider>

            <div class="footer-links flex-column">
                <p class="title"> {{ t('footer.maginkLinks').toUpperCase() }} </p>
                <p class="link text-clickable" *ngFor="let footer of footerItems" (click)="onClickFooterOption(footer.id)"> {{ t('header.' + footer.id) }} </p>
            </div>

            <mat-divider vertical="true" class="hidden-divider"></mat-divider>

            <div class="footer-social-links flex-column">
                <p class="title"> {{ t('footer.socialLinks').toUpperCase() }} </p>
                <p class="link text-clickable"> Instagram </p>
                <p class="link text-clickable"> Facebook </p>
                <p class="link text-clickable"> Youtube </p>
            </div>

        </div>

        <mat-divider></mat-divider>

        <div class="social-row flex-row">
            <fa-icon [icon]="faInstagram" class="zoom pointer"></fa-icon>
            <fa-icon [icon]="faFacebook" class="zoom pointer"></fa-icon>
            <fa-icon [icon]="faYoutube" class="zoom pointer"></fa-icon>
        </div>

        <div class="copy-row flex-row">
            <span> &copy; {{ t('footer.copy', { yearRange: yearRange }).toUpperCase() }} </span>
            <span class="text-clickable" style="margin-left: 4px;"> {{ t('footer.developer').toUpperCase() }} </span>
            <span class="separator"> | </span>
            <span class="text-clickable" (click)="showCookiePolicyDialog()"> {{ t('footer.cookiePolicy.title').toUpperCase() }} </span>
            <span class="separator"> | </span>
            <span class="text-clickable" (click)="showTermsAndConditionsDialog()"> {{ t('footer.termsAndConditions.title').toUpperCase() }} </span>
        </div>

    </div>

    <app-cookie-policy #cookiePolicyDialog></app-cookie-policy>
    <app-terms-and-conditions #termsAndConditionsDialog></app-terms-and-conditions>

</div>