<div class="footer-layout" *transloco="let t">
    
    <div class="footer-container flex-column">

        <div class="main-row flex-row">

            <div class="footer-about flex-column">

                <p class="title"> {{ t('footer.about').toUpperCase() }} </p>

                <span> {{ t('mainPage.about.content.firstParagraph') }} </span>
                <br>
                <span> {{ t('mainPage.about.content.firstParagraph') }} </span>

            </div>

            <mat-divider vertical="true"></mat-divider>

            <div class="footer-last-projects flex-column">

                <p class="title"> {{ t('footer.lastProjects').toUpperCase() }} </p>

                <div class="img-row first-row flex-row">
                    <div class="img-container pointer custom-shadow zoom" *ngFor="let image of imagesFirstRow"
                        [ngStyle]="{'background-image': 'url(' + image.thumbnail + ')'}" (click)="showGallery(image.fullSize)">
                    </div>
                </div>

                <div class="img-row second-row flex-row">
                    <div class="img-container pointer custom-shadow zoom" *ngFor="let image of imagesSecondRow"
                        [ngStyle]="{'background-image': 'url(' + image.thumbnail + ')'}" (click)="showGallery(image.fullSize)">
                    </div>
                </div>

            </div>

            <mat-divider vertical="true" class="hidden-divider"></mat-divider>

            <div class="footer-links flex-column">
                <p class="title"> {{ t('footer.maginkLinks').toUpperCase() }} </p>
                <p class="link text-clickable" *ngFor="let footer of footerItems" (click)="onClickFooterOption(footer.id)"> {{ t('header.' + footer.id) }} </p>
            </div>

            <mat-divider vertical="true" class="hidden-divider"></mat-divider>

            <div class="footer-social-links flex-column">
                <p class="title"> {{ t('footer.socialLinks').toUpperCase() }} </p>
                <p class="link text-clickable" (click)="openNewTab('Instagram')"> Instagram </p>
                <p class="link text-clickable" (click)="openNewTab('Facebook')"> Facebook </p>
                <p class="link text-clickable" (click)="openNewTab('Twitter')"> Twitter </p>
                <p class="link text-clickable text-disabled"> Youtube <p-tag [value]="t('footer.soon')" [rounded]="true" icon="pi pi-info-circle"> </p-tag></p>
            </div>

        </div>

        <mat-divider></mat-divider>

        <div class="social-row flex-row">

            <button mat-icon-button aria-label="Instagram" class="zoom" (click)="openNewTab('Instagram')">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </button>

            <button mat-icon-button aria-label="Facebook" class="zoom" (click)="openNewTab('Facebook')">
                <fa-icon [icon]="faFacebook"></fa-icon>
            </button>

            <button mat-icon-button aria-label="Twitter" class="zoom" (click)="openNewTab('Twitter')">
                <fa-icon [icon]="faTwitter"></fa-icon>
            </button>

            <button mat-icon-button aria-label="Youtube" [disabled]="true" (click)="openNewTab('Youtube')">
                <fa-icon [icon]="faYoutube"></fa-icon>
            </button>

        </div>

        <div class="copy-row flex-row">
            <span> &copy; {{ t('footer.copy', { yearRange: yearRange }).toUpperCase() }} </span>
            <span class="text-clickable" style="margin-left: 4px;" (click)="openDevPage()"> {{ t('footer.developer').toUpperCase() }} </span>
            <span class="separator"> | </span>
            <span class="text-clickable" (click)="showCookiePolicyDialog()"> {{ t('footer.cookiePolicy.title').toUpperCase() }} </span>
            <span class="separator"> | </span>
            <span class="text-clickable text-disabled" (click)="showTermsAndConditionsDialog()"> {{ t('footer.termsAndConditions.title').toUpperCase() }} </span>
        </div>

    </div>

    <app-cookie-policy #cookiePolicyDialog></app-cookie-policy>
    <app-terms-and-conditions #termsAndConditionsDialog></app-terms-and-conditions>

</div>