@import '../../../../assets/scss/main-styles.scss';

.footer-layout {
    color: $white;
    font-size: 15px;
    background-color: $material-dark;
    padding-top: 2rem;
    font-family: $text;

    .footer-container {

        mat-divider {
            margin: 1rem 2rem;
        }

        .main-row {
            padding: 0 2rem;

            .footer-about, .footer-last-projects, .footer-links {
                width: 100%;
                padding: 0.5rem;

                .img-row {
                    width: 100%;
                    flex-wrap: wrap;

                    .img-container {
                        width: 50px;
                        margin: 5px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        transition: all .5s !important;
                        justify-content: center;

                        &:before {
                            content: "";
                            float: left;
                            padding-top: 100%;
                        }
                    }
                }

                .title {
                    font-weight: bold;
                }

                p.link {
                    margin: 5px 0px;
                }
            }

            mat-divider {
                margin: 0 1rem;
            }
        }

        .social-row {
            padding: 0 2rem;
            justify-content: center;

            fa-icon {
                font-size: 30px;
                margin: 0.5rem;
            }
        }

        .copy-row {
            font-size: 12px;
            justify-content: center;
            padding: 0.5rem 0;
            flex-wrap: wrap;

            .separator {
                margin: 0 0.5rem;
            }
        }
    }
}

@media only screen and (max-width: 800px) {

    .main-row {
        flex-wrap: wrap;
    }
}