<ng-container *transloco="let t">

    <div class="main-page-layout flex-column mat-app-background">

        <section id="home">
            <app-home (scrollDownEmitter)="scrollDown()"></app-home>
        </section>

        <section id="about">
            <app-about></app-about>
        </section>

        <section id="printServices">
            <app-print-services></app-print-services>
        </section>

        <div class="parallax-container">
            <!-- <img src="../../../../assets/images/others/drip.svg" class="drip"> -->
        </div>

        <section id="paintServices">
            <app-paint-services></app-paint-services>
        </section>

        <section id="references">
            <app-references></app-references>
        </section>

        <section id="gallery">
            <app-gallery></app-gallery>
        </section>

        <section id="contact">
            <app-contact></app-contact>
        </section>

    </div>

</ng-container>
