@import '../../../assets/scss/main-styles.scss';

// @mixin main-theme($theme) {
//     $primary: map-get($theme, primary);
//     $warn: map-get($theme, warn);
//     $background: map-get($theme, background);
//     $foreground: map-get($theme, foreground);
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}
// }
