<ng-container *transloco="let t">

    <div class="main-page-layout flex-column">

        <div class="content-container" style="height: 1500px;">

            <div class="title">
                <mat-icon fontSet="material-icons-two-tone" aria-hidden="false" aria-label="home" class="bounce-in-fwd"> home </mat-icon>
                <h1 class="fade-in-bottom-medium"> {{ t('mainPage.title') }} </h1>
                <h2 class="fade-in-bottom-medium"> {{ t('mainPage.subtitle') }} </h2>
            </div>

            <div class="section">
                
            </div>

        </div>

    </div>

</ng-container>
