<ng-container *transloco="let t">

    <div class="main-page-layout flex-column">

        <section id="home">
            <app-home></app-home>
        </section>

        <section id="about">
            <app-about></app-about>
        </section>

        <section id="gallery">
            <app-gallery></app-gallery>
        </section>
        <!-- <div  [@fadeInOnEnter] [@fadeOutOnLeave] style="width: 100px; height: 100px; background-color: brown;"></div> -->
        <section id="contact">
            <app-contact></app-contact>
        </section>

    </div>

</ng-container>
