@import '../../../../assets/scss/main-styles.scss';

.about-layout {
    padding: 80px 2rem 50px 2rem;
    background-color: $primary-color;
    text-align: center;
    font-family: $text;
    position: relative;

    // &::before {
    //     content: ' ';
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     opacity: 0.1;
    //     background-image: url('../../../../assets/images/patterns/main-pattern.png');
    // }

    .title-container {

        .text-animation-container {
            justify-content: center;

            div {
                overflow: hidden;
                position: relative;
                float: right;
                height: 65px;
                padding-top: 10px;
                margin-top: -10px;

                li {
                    // font-family: Serif;
                    color: $accent-color;
                    font-weight: 700;
                    padding: 0 10px;
                    height: 45px;
                    margin-bottom: 45px;
                    display: block;
                }
            }

            .flip-animation {
                padding: 0px;
                animation: flip-animation 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
            }
        }
    }

    .content-container {
        margin-top: 20px;
        
        .card-container {
            overflow-x: hidden;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: 1rem 0;

            .card {
                margin: 3rem;

                &:hover {
                    -ms-transform: scale(1.03);
                    -webkit-transform: scale(1.03);
                    transform: scale(1.03);
                }
            }
        }
    }
}

@keyframes flip-animation {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}
