<div class="about-layout flex-column" *transloco="let t">
    <div>
        
        <div class="title-container" data-aos="fade-left">
            <h2 class="subtitle"> {{ t('mainPage.about.subtitle').toUpperCase() }} </h2>
            <h1 class="text-animation-container flex-row">    
                <span class="title"> {{ t('mainPage.about.title') }} </span> 
                <div> 
                    <ul class="flip-animation"> 
                        <li> {{ t('mainPage.about.content.list.professional.title') }} </li>
                        <li> {{ t('mainPage.about.content.list.enthusiastic.title') }} </li>
                        <li> {{ t('mainPage.about.content.list.passionate.title') }} </li>
                    </ul>
                </div>
            </h1>
        </div>
        
        <div class="content-container">

            <p data-aos="fade-left"> <span> {{ t('mainPage.about.content.firstParagraph') }} </span> </p>
            <p data-aos="fade-left"> <span> {{ t('mainPage.about.content.secondParagraph') }} </span> </p>

            
            <div class="card-container flex-row">

                <app-presentation-card class="card zoom" [image]="images[0]"></app-presentation-card>
                <app-presentation-card class="card zoom" [image]="images[1]"></app-presentation-card>
                <app-presentation-card class="card zoom" [image]="images[2]"></app-presentation-card>

            </div>

        </div>

    </div>
</div>