<div class="about-layout flex-column" *transloco="let t">
    <div data-aos="fade-left">
        
        <div class="title-container">
            <h2 class="subtitle"> {{ t('mainPage.about.subtitle').toUpperCase() }} </h2>
            <h1 class="text-animation-container">    
                <span class="title"> {{ t('mainPage.about.title').toUpperCase() }} </span> 
                <div> 
                    <ul class="flip-animation"> 
                        <li> {{ t('mainPage.about.content.list.professional').toUpperCase() }} </li>
                        <li> {{ t('mainPage.about.content.list.enthusiastic').toUpperCase() }} </li>
                        <li> {{ t('mainPage.about.content.list.passionate').toUpperCase() }} </li>
                    </ul>
                </div>
            </h1>
        </div>
        
        <div class="content-container">

            <p> <span> {{ t('mainPage.about.content.firstParagraph') }} </span> </p>
            <p> <span> {{ t('mainPage.about.content.secondParagraph') }} </span> </p>

            
            <div class="card-container flex-row">

                <div class="card">
                    Actitud
                </div>

                <div class="card">
                    Ganas de currar
                </div>

                <div class="card">
                    Profesionalidad
                </div>

            </div>

            <p> <span> {{ t('mainPage.about.mainText') }} </span> </p>

        </div>

    </div>
</div>