@import './assets/scss/main-styles.scss';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
    -webkit-font-smoothing: antialiased;

    img {
        object-fit: contain !important;
    }
}
