<div class="presentation-card-layout" *transloco="let t"  data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100" data-aos-offset="0">

    <div class="presentation-card-container custom-shadow" [ngStyle]="{'background-image': image.fullSize}">

        <div class="title-content">
            <h3> {{ t('mainPage.about.content.list.' + image.title + '.title').toUpperCase() }} </h3>
            <hr class="custom-shadow" />
        </div>

        <div class="card-info">
            {{ t('mainPage.about.content.list.' + image.title + '.description') }}
        </div>

        <div class="gradient-overlay"> </div>

        <div class="color-overlay"> </div>

    </div>

</div>