<div class="presentation-card-layout" *transloco="let t">

    <div class="presentation-card-container custom-shadow" [ngStyle]="{'background-image': image.url}">

        <div class="title-content">
            <h3> {{ t('mainPage.about.content.list.' + image.title + '.title').toUpperCase() }} </h3>
            <hr class="custom-shadow" />
        </div>

        <div class="card-info">
            {{ t('mainPage.about.content.list.' + image.title + '.description') }}
        </div>

        <div class="gradient-overlay"> </div>

        <div class="color-overlay"> </div>

    </div>

</div>