<div class="home-layout flex-column" *transloco="let t">

    <div class="home-container flex-column">

        <div class="title-container">
            <div class="container">
                <p> {{ t('mainPage.home.title') }} </p>
            </div>
        </div>

        <div class="area" >
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div >

        <div class="scroll-down-button zoom" (click)="scrollDown()">
            <div class="arrow bounce">
                <mat-icon> keyboard_arrow_down </mat-icon>
            </div>
        </div>
    </div>
</div>
