<div class="home-layout flex-column" *transloco="let t">

    <div class="home-container flex-column">

        <div class="video-container">

            <video loop autoplay muted src="../../../../assets/videos/presentation-video.mp4">
                <source src="../../../../assets/videos/presentation-video.mp4" type="video/mp4">
            </video>

            <div class="video-cover"> </div>
            
        </div>

        <div class="background-title-container"> </div>
        <div class="title-container">
            <div class="container">
                <span> {{ t('mainPage.home.title') }} </span>
            </div>
            <div class="subtitle-container flex-row">
                <span data-aos="fade-up" data-aos-delay="300"> {{ t('mainPage.home.paint') }} </span>
                <span data-aos="zoom-in" data-aos-delay="2100" class="point"> </span>
                <span data-aos="fade-up" data-aos-delay="900"> {{ t('mainPage.home.mount') }} </span>
                <span data-aos="zoom-in" data-aos-delay="2700" class="point"> </span>
                <span data-aos="fade-up" data-aos-delay="1500"> {{ t('mainPage.home.print') }} </span>
            </div>
        </div>

        <button mat-icon-button (click)="scrollDown()" class="scroll-down-button zoom">
            <div class="arrow bounce">
                <mat-icon> keyboard_arrow_down </mat-icon>
            </div>
        </button>
    </div>
</div>
