<div class="home-layout flex-column" *transloco="let t">

    <div class="home-container flex-column">

        <div class="video-container">

            <video loop autoplay muted src="../../../../assets/videos/presentation-video.mp4">
                <source src="../../../../assets/videos/presentation-video.mp4" type="video/mp4">
            </video>

            <div class="video-cover"> </div>
            
        </div>

        <div class="background-title-container"> </div>
        <div class="title-container">
            <div class="container">
                <span> {{ t('mainPage.home.title') }} </span>
            </div>
        </div>

        <div class="scroll-down-button zoom" (click)="scrollDown()">
            <div class="arrow bounce">
                <mat-icon> keyboard_arrow_down </mat-icon>
            </div>
        </div>
    </div>
</div>
